fastapi==0.141.1
uvloop==0.22.1
requests==2.34.2
Jinja2==3.1.6
python-multipart==0.0.32
pan-aisecurity==0.11.0
openai==2.53.0
litellm==1.95.0
litellm[proxy]==1.95.0
litellm-enterprise==0.1.52
litellm-proxy-extras==0.4.81
mcp==1.29.0
chromadb==1.5.9
sentence-transformers==5.6.1
mcp-server-sqlite==2025.4.25

