--extra-index-url https://download.pytorch.org/whl/cpu
portkey-ai
fastapi
uvloop
requests
Jinja2
python-multipart
pan-aisecurity
openai
litellm
litellm[proxy]
litellm-enterprise
litellm-proxy-extras
mcp
chromadb
sentence-transformers
mcp-server-sqlite